strict-ssl=false
https-proxy=http://www-proxy-hqdc.us.oracle.com:80/
proxy=http://www-proxy-hqdc.us.oracle.com:80/
noproxy=localhost,127.0.0.1,.alm.oraclecorp.com,alm.oraclecorp.com,.oraclecorp.com,.us.oracle.com
registry=https://artifacthub-tip.oraclecorp.com/api/npm/npmjs-remote
